Source: w1-rrd
Section: utils
Priority: extra
Maintainer: Robert Einsle <robert@einsle.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/reinsle/w1-rrd
Vcs-Git: git://github.com/reinsle/w1-rrd.git

Package: w1-rrd
Architecture: all
Depends: rrdtool
Description: Tool to create statistics out of w1 Temperatur Sensors
 This Tool reads out w1-bus Temperatur-Sensors (esp. Dallas DS 18S20)
 and stores this Temperature-Data into Rrd-Database. Out of this 
 Database this tool can generate Graphics displaying a Temperature-
 Graph.
