Source: w1-rrd
Section: unknown
Priority: extra
Maintainer: root <root@raspberrypi>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/w1-rrd.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/w1-rrd.git;a=summary

Package: w1-rrd
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
